apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Reference the base configuration
resources:
- ../../default

# Set the namespace for OpenShift deployment
namespace: openshift-tuning
